.Pages {
    height: 100vh;
}

.Page {
    min-height: 500px;
}

.Stepper {
    position: fixed;
    width: 100vw;
    bottom: 9vh;
    display: flex;
    justify-content: center;
}

/*.Stepper .ant-steps {*/
/*    opacity: .3;*/
/*    transition: opacity .3s ease-in-out;*/
/*}*/

/*.Stepper .ant-steps:hover {*/
/*    opacity: 1;*/
/*}*/

.Stepper .ant-steps-item {
    min-width: 50px;
}

.Stepper .ant-steps-item-container {
    background: none !important;
}

.Stepper .ant-steps-item-content {
    margin-top: -2.1rem !important;
}

.Stepper .ant-steps-item-title {

    color: rgba(255, 255, 255, 0.5) !important;
}

.Stepper .ant-steps-item-active .ant-steps-item-title {
    color: rgba(255, 255, 255, 0.8) !important;
}

.Stepper .ant-steps-item:hover .ant-steps-item-title {
    color: rgba(255, 255, 255, 0.8) !important;
}


.Stepper .ant-steps .ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
    color: transparent !important;
}