.Title {
    text-align: center;
    margin: 50px 1em !important;
    font-size: 3.3em !important;
    text-transform: uppercase;
    font-weight: normal !important;
    display: flex;
    justify-content: center;
    gap: 5px;
}
